/* zwei Fonts */
.matemasie-regular {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Design h1 "TicTacToe */
h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  font-family: Matemasie;
}
/* Desing h2 "Player1:X" "Player2:O" */
h2 {
  color: white;
  text-align: center;
  font-family: Permanent Marker;
}

/* hintergund der website */
body {
  background: linear-gradient(45deg, #0077b6, #151b29);
  height: 100vh;
}
/* spielfeld */
#display {
  margin: 0 auto;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* divs im spielfeld */
#display div {
  width: calc(100% / 3);
  box-sizing: border-box;
  height: 200px;
  border: 2px solid hsl(0, 0%, 100%);
  font-size: 150px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
/* versteckter Reset Button */
button {
  width: 200px;
  height: 100px;
  font-size: xx-large;
  background-color: #39a9ebe8;
  color: hsl(231, 87%, 39%);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  font-family: Permanent Marker;
}
/* verhalten des button bei :hover */
button:hover {
  border-color: rgb(150, 223, 192);
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em hwb(180 48% 9%);
  cursor: pointer;
}
/*Class die Elemtene sichtbar macht */
.show {
  visibility: visible;
}

/* .hover-div {
  position: ;
} */

/* .hover-div {
  position: relative;
}

.hover-div::after {
  content: "X";
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  visibility: hidden;
}

.hover-div:hover::after {
  visibility: visible;
  opacity: 1;
} */

/* 
.hover-div {
  position: relative;
}

.hover-div::after {
  content: "0";
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  visibility: hidden;
}

.hover-div:hover::after {
  visibility: visible;
  opacity: 1;
} */
