h1 {
  font-size: 3em;
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

body {
  background-color: #151b29;
}

#display {
  align-content: center;
  margin: 0 auto;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#display div {
  width: 30%;
  height: 200px;
  border: 2px solid black;
  justify-content: center;
}

.hover-div {
  position: relative;
}

.hover-div::after {
  content: "X";
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  visibility: hidden;
}

.hover-div:hover::after {
  visibility: visible;
  opacity: 1;
}

/* 
.hover-div {
  position: relative;
}

.hover-div::after {
  content: "0";
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  visibility: hidden;
}

.hover-div:hover::after {
  visibility: visible;
  opacity: 1;
} */
